<button class="addjob-btn" (click)="openDialog()">Add Job</button>
<div class="jira-job-board" cdkDropListGroup>
  <div class="jira-container">
    <div class="jira-header">
      <h2>WISHLIST</h2>
      <span>{{ wishlist.length }} Job/s</span>
    </div>
    <div
      cdkDropList
      id="wishlist"
      #wishList="cdkDropList"
      [cdkDropListData]="wishlist"
      class="jira-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-job-card
        *ngFor="let job of wishlist"
        [job]="job"
        cdkDrag
      ></app-job-card>
    </div>
  </div>

  <div class="jira-container">
    <div class="jira-header">
      <h2>APPLIED</h2>
      <span>{{ applied.length }} Job/s</span>
    </div>

    <div
      cdkDropList
      id="applied"
      #appliedList="cdkDropList"
      [cdkDropListData]="applied"
      class="jira-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-job-card
        *ngFor="let job of applied"
        [job]="job"
        cdkDrag
      ></app-job-card>
    </div>
  </div>

  <div class="jira-container">
    <div class="jira-header">
      <h2>INTERVIEW</h2>
      <span>{{ interview.length }} Job/s</span>
    </div>

    <div
      cdkDropList
      id="interview"
      #interviewList="cdkDropList"
      [cdkDropListData]="interview"
      class="jira-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-job-card
        *ngFor="let job of interview"
        [job]="job"
        cdkDrag
      ></app-job-card>
    </div>
  </div>

  <div class="jira-container">
    <div class="jira-header">
      <h2>OFFER</h2>
      <span>{{ offer.length }} Job/s</span>
    </div>

    <div
      cdkDropList
      id="offer"
      #offerList="cdkDropList"
      [cdkDropListData]="offer"
      class="jira-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-job-card
        *ngFor="let job of offer"
        [job]="job"
        cdkDrag
      ></app-job-card>
    </div>
  </div>

  <div class="jira-container">
    <div class="jira-header">
      <h2>REJECTED</h2>
      <span>{{ rejected.length }} Job/s</span>
    </div>

    <div
      cdkDropList
      id="rejected"
      #rejectedList="cdkDropList"
      [cdkDropListData]="rejected"
      class="jira-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-job-card
        *ngFor="let job of rejected"
        [job]="job"
        cdkDrag
      ></app-job-card>
    </div>
  </div>
</div>
