.view-job-container {
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 8px;
  position: relative;
}

.company-name {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.job-description {
  margin-top: 10px;
}

.asking-salary {
  margin-top: 5px;
}

.status {
  margin-top: 5px;
}

.created-at {
  margin-top: 10px;
  color: #888888;
}

.close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  background-color: transparent;
}

.close-btn-icon {
  border: none;
}
