.jira-job-board {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.jira-container {
  width: 280px;
  margin-right: 20px;
  height: calc(100vh - 130px);
  background-color: #b6b3b3ff; /* Jira's background color */
  border-radius: 5px;
  padding: 10px;
}

.jira-list {
  height: 80%;
  overflow-y: scroll;
  padding: 10px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.jira-list.cdk-drop-list-dragging {
  border: 2px dashed #0052cc; /* Dashed border while dragging */
}

.jira-list h2 {
  font-size: 18px;
  color: #4b4b4b; /* Dark gray color */
  margin-bottom: 10px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
