:root {
  --light-pink: #e7717d;
  --gradient-light-pink: #e3a774;
  --silver: #c2c9cf;
  --rosy-brown: #c2b9b0;
  --dark-taupe: #7e6859;
  --light-green: #afd274;
  --red: #c70000;
  --white: #ffffff;
  --black: #000000;
}

html,
body {
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f5f7;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
}
